# Sample pandas notebook

first lets import Pandas and give it the standard alias

In [3]:
import pandas as pd

now let's read in our CSV file for world alcohol consumption:

In [4]:
world_alcohol = pd.read_csv("/Users/rksquared/projects/pyeicon/five_thirty_eight_tstdata/tot_ann_alc_consump.csv")
print(world_alcohol)

      Year             WHO region  \
0     1986        Western Pacific
1     1986               Americas
2     1985                 Africa
3     1986               Americas
4     1987               Americas
5     1987               Americas
6     1987                 Africa
7     1985                 Africa
8     1986               Americas
9     1984                 Africa
10    1987                 Africa
11    1989               Americas
12    1985        Western Pacific
13    1984  Eastern Mediterranean
14    1985        Western Pacific
15    1987                 Africa
16    1984               Americas
17    1989                 Africa
18    1984                 Europe
19    1984                 Africa
20    1986        South-East Asia
21    1989               Americas
22    1984                 Europe
23    1984                 Europe
24    1985                 Africa
25    1984  Eastern Mediterranean
26    1985                 Europe
27    1984  Eastern Mediterranean
28    1987        Western Pacific
29    1986                 Europe
...    ...                    ...
3227  1989               Americas
3228  1989                 Africa
3229  1987               Americas
3230  1987                 Europe
3231  1989  Eastern Mediterranean
3232  1986               Americas
3233  1984                 Europe
3234  1984        Western Pacific
3235  1986               Americas
3236  1986                 Africa
3237  1987               Americas
3238  1984        Western Pacific
3239  1986        Western Pacific
3240  1986                 Europe
3241  1984  Eastern Mediterranean
3242  1986                 Europe
3243  1985                 Europe
3244  1986  Eastern Mediterranean
3245  1985        South-East Asia
3246  1989                 Europe
3247  1984                 Europe
3248  1986                 Europe
3249  1989                 Europe
3250  1987                 Europe
3251  1984                 Africa
3252  1984                 Africa
3253  1986        Western Pacific
3254  1986                 Europe
3255  1987        Western Pacific
3256  1986                 Africa

                                                Country Beverage Types  \
0                                              Viet Nam           Wine
1                                               Uruguay          Other
2                                          Cte d'Ivoire           Wine
3                                              Colombia           Beer
4                                 Saint Kitts and Nevis           Beer
5                                             Guatemala          Other
6                                             Mauritius           Wine
7                                                Angola        Spirits
8                                   Antigua and Barbuda        Spirits
9                                               Nigeria          Other
10                                             Botswana           Wine
11                                            Guatemala           Beer
12                     Lao People's Democratic Republic           Beer
13                                          Afghanistan          Other
14                                             Viet Nam        Spirits
15                                        Guinea-Bissau           Wine
16                                           Costa Rica           Wine
17                                           Seychelles           Beer
18                                               Norway        Spirits
19                                                Kenya           Beer
20                                              Myanmar           Wine
21                                           Costa Rica        Spirits
22                                              Romania        Spirits
23                                               Turkey           Beer
24                                              Comoros          Other
25                                              Tunisia          Other
26    United Kingdom of Great Britain and Northern I...           Wine
27                                              Bahrain           Beer
28                                             Viet Nam           Beer
29                                                Italy          Other
...                                                 ...            ...
3227                   Bolivia (Plurinational State of)           Wine
3228                                         Madagascar           Wine
3229                   Bolivia (Plurinational State of)           Beer
3230                                             France        Spirits
3231                                            Morocco        Spirits
3232                                           Paraguay        Spirits
3233                                     Czech Republic          Other
3234                                               Fiji        Spirits
3235                                             Belize           Beer
3236                                         Seychelles           Beer
3237                                             Canada          Other
3238                                               Fiji           Wine
3239                                           Viet Nam        Spirits
3240                                           Slovenia           Beer
3241                                           Djibouti           Wine
3242                                             Poland          Other
3243                                           Slovakia           Wine
3244                               United Arab Emirates          Other
3245                                              India        Spirits
3246                                             Poland           Beer
3247                                             Latvia        Spirits
3248                                           Bulgaria        Spirits
3249                                             Turkey          Other
3250                                            Iceland          Other
3251                                             Angola           Wine
3252                           Central African Republic           Wine
3253                                               Fiji        Spirits
3254                                        Switzerland        Spirits
3255                                   Papua New Guinea          Other
3256                                          Swaziland          Other

      Display Value
0              0.00
1              0.50
2              1.62
3              4.27
4              1.98
5              0.00
6              0.13
7              0.39
8              1.55
9              6.10
10             0.20
11             0.62
12             0.00
13             0.00
14             0.05
15             0.07
16             0.06
17             2.23
18             1.62
19             1.08
20             0.00
21             4.51
22             2.67
23             0.44
24              NaN
25             0.00
26             1.36
27             2.22
28             0.11
29              NaN
...             ...
3227           0.08
3228           0.19
3229           1.16
3230           2.77
3231           0.07
3232           5.17
3233            NaN
3234           0.09
3235           1.35
3236           2.16
3237            NaN
3238           0.13
3239           0.05
3240           3.71
3241           0.51
3242            NaN
3243           2.60
3244           0.00
3245           1.24
3246           2.03
3247           7.50
3248           4.32
3249           0.00
3250           0.01
3251           0.57
3252           0.46
3253           0.05
3254           2.54
3255           0.00
3256           5.15

[3257 rows x 5 columns]

Let's pull out the list of columns/column labels

In [5]:
print(world_alcohol.columns)

Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

^ This is a useful function baked into the basic 2 dimensional datastructure for pandas: **the dataframe**

Let's play with some of the other built-in attributes of pandas dataframes. Let's say we'd like to know the # of rows and # of columns for some more advanced operations:

In [6]:
print(world_alcohol.shape)

(3257, 5)

^ This two attributes are eminently useful, as we shall see here.

Let's say we want to slice the dataframe and return only the last ten rows. One way we can accomplish this is via the information returned by the df.shape attribute in tandem with the loc() method.

In [23]:
last_ten = world_alcohol.loc[3247:]

print(last_ten)

      Year       WHO region                   Country Beverage Types  \
3247  1984           Europe                    Latvia        Spirits
3248  1986           Europe                  Bulgaria        Spirits
3249  1989           Europe                    Turkey          Other
3250  1987           Europe                   Iceland          Other
3251  1984           Africa                    Angola           Wine
3252  1984           Africa  Central African Republic           Wine
3253  1986  Western Pacific                      Fiji        Spirits
3254  1986           Europe               Switzerland        Spirits
3255  1987  Western Pacific          Papua New Guinea          Other
3256  1986           Africa                 Swaziland          Other

      Display Value
3247           7.50
3248           4.32
3249           0.00
3250           0.01
3251           0.57
3252           0.46
3253           0.05
3254           2.54
3255           0.00
3256           5.15

In [24]:
last_ten.dtypes

Year                int64
WHO region         object
Country            object
Beverage Types     object
Display Value     float64
dtype: object

In [27]:
last_ten["WHO region"]

3247             Europe
3248             Europe
3249             Europe
3250             Europe
3251             Africa
3252             Africa
3253    Western Pacific
3254             Europe
3255    Western Pacific
3256             Africa
Name: WHO region, dtype: object

In [30]:
column_list = world_alcohol.columns.tolist()
column_list

['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value']

In [34]:
disp_val = world_alcohol["Display Value"]

max_val = disp_val.max()

print(disp_val)
print("max val is ", max_val)

0       0.00
1       0.50
2       1.62
3       4.27
4       1.98
5       0.00
6       0.13
7       0.39
8       1.55
9       6.10
10      0.20
11      0.62
12      0.00
13      0.00
14      0.05
15      0.07
16      0.06
17      2.23
18      1.62
19      1.08
20      0.00
21      4.51
22      2.67
23      0.44
24       NaN
25      0.00
26      1.36
27      2.22
28      0.11
29       NaN
        ...
3227    0.08
3228    0.19
3229    1.16
3230    2.77
3231    0.07
3232    5.17
3233     NaN
3234    0.09
3235    1.35
3236    2.16
3237     NaN
3238    0.13
3239    0.05
3240    3.71
3241    0.51
3242     NaN
3243    2.60
3244    0.00
3245    1.24
3246    2.03
3247    7.50
3248    4.32
3249    0.00
3250    0.01
3251    0.57
3252    0.46
3253    0.05
3254    2.54
3255    0.00
3256    5.15
Name: Display Value, Length: 3257, dtype: float64
max val is  13.5